<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AntSimComplexUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <AntSimComplexUI.Properties.Settings>
      <setting name="PackageRelPath" serializeAs="String">
        <value>..\..\..\packages</value>
      </setting>
      <setting name="LibPathRegistryKey" serializeAs="String">
        <value>HKEY_CURRENT_USER\Software\AntSim\TSPLIB95Path</value>
      </setting>
      <setting name="NodeCircleWidth" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="LogPath" serializeAs="String">
        <value>..\..\..\logs</value>
      </setting>
    </AntSimComplexUI.Properties.Settings>
  </userSettings>
</configuration>